@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="header">
    <button class="back-button">
        <svg width="30px" height="30px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
            <path fill="#FFF" d="M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64z" />
            <path fill="#FFF"
                  d="m237.248 512 265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312L237.248 512z" />
        </svg>
    </button>
    <div class="title">
        <h1>İstanbul Avrupa - Ankara</h1>
        <p>25 Ekim Perşembe</p>
    </div>
</div>

<div class="ticket-list">
    <div class="ticket">
        <div class="ticket-info">
            <div class="time">
                <p>Kalkış</p>
                <h2>09:30</h2>
            </div>
            <div class="arrow">→</div>
            <div class="time">
                <p>Varış</p>
                <h2>15:30</h2>
            </div>
            <div class="fill"></div>
            <div class="price">
                <p>75,00 TL</p>
            </div>
        </div>

        <div class="location">
            <p>Esenler Otogarı - Ankara Aşti Otogarı</p>
        </div>
    </div>

    <!-- Repeat for each ticket -->
    <div class="ticket">
        <div class="ticket-info">
            <div class="time">
                <p>Kalkış</p>
                <h2>09:30</h2>
            </div>
            <div class="arrow">→</div>
            <div class="time">
                <p>Varış</p>
                <h2>15:30</h2>
            </div>
            <div class="fill"></div>
            <div class="price">
                <p>75,00 TL</p>
            </div>
        </div>

        <div class="location">
            <p>Esenler Otogarı - Ankara Aşti Otogarı</p>
        </div>
    </div>

    <!-- You can repeat more tickets here -->
</div>
